# system trash
.DS_Store
.stignore
/**/.stfolder
.vscode

# unwanted trash
*.bak
*.log
*.tmp

/**/tmp

# build folders
/bin
/target
/dist

# node stuff
/node_modules
/packages
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime stuff
pids
*.pid
*.seed
*.pid.lock
.npm

# keys
*.secret.*
.env
