.login {
  padding: 40px 100px;
  text-align: center;
  margin: auto;
  border-radius: 17px;
}

.logo img {
  width: 213px;
  height: 213px;
  margin-bottom: 35px;
}
.logo div {
  font-size: 50px;
  line-height: 20px;
}
.logo div span {
  font-size: 15px;
  letter-spacing: 1.7px;
}
