.wrapper.login {
  padding: 0;
}

.login {
  padding: 40px 100px;
  text-align: center;
  margin: auto;
  border-radius: 17px;
}

.login h1 {
  font-size: 32px;
}

.logo img {
  width: 213px;
  height: 213px;
  margin-bottom: 35px;
}
.logo div {
  font-size: 50px;
  line-height: 20px;
}
.logo div span {
  font-size: 15px;
  letter-spacing: 1.7px;
}

@media screen and (max-width: 898px) {
  .login {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}
