/*::::::::::::::::::::::::::::::::::::::::::::::: MAIN-COMPONENTS :::::::::::::::::::::::::::::::::::::::::::::::*/
:root {
  --side_panel_width: 450px;
  --panel_padding: 40px;
  --search_result_height: 205px;
}

.wrapper.dashboard {
  height: 100vh;
  width: 100vw;
}

.dashboard {
  margin: auto;
  min-width: 716px;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: CARDS :::::::::::::::::::::::::::::::::::::::::::::::*/
#infocard_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infocard,
#infocard_stack {
  width: 70%;
  height: 70%;
  max-width: 985px;
  max-height: 600px;
}

.infocard {
  position: absolute;
  border-radius: 8px;
  background-color: var(--black);
  transition: ease 0.5s;
}

.left_stack {
  transform: translateX(-110%);
  opacity: 0;
}

.right_stack {
  transform: translateX(110%);
  opacity: 0;
}

.cardcontent {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.cardcontent::-webkit-scrollbar {
  display: none;
}

.infocard .btns {
  display: inline-flex;
  position: absolute;
  margin: 0;
  right: -12px;
  top: -12px;
}

.infocard .btns li {
  padding: 5px;
}

.infocard .btns .btn {
  margin: 0;
}

.infocard .btn.icon {
  padding: 5px;
}

.infocard .btn.icon img {
  width: 18px;
  height: 18px;
}

#indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 4%;
  width: 100%;
}

#indicator input {
  -webkit-appearance: none;
  width: 35%;
  height: 3px; /* has to be odd! */
  border-radius: 3px;
  background: var(--black);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  pointer-events: none;
}

#indicator input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: var(--accent_color);
}
/*----------------- NEW CARDS----------------*/
.infocard_child {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#infocard_close {
  right: 20px;
  top: 0;
}

.infocard_left {
  flex: 1;
  padding: 25px;
  overflow: hidden;
  min-width: 200px;
  max-width: 200px;
  position: relative;
  text-align: center;
}
.infocard_left > img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-filter: blur(30px) brightness(.8);
}

.infocard_left > img[src=""] {
  -webkit-filter: none;
  background-color: var(--black_d);
  text-indent: 100vw;
}

.infocard_left > img:nth-child(2) {
  max-width: 200px;
  height: auto;
  border-radius: 3px;
  width: 100%;
}

.infocard_right {
  overflow: auto;
  flex: 2;
  padding: 25px 60px 0 25px;
  max-width: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.infocard_right .horizontal_border {
  display: table;
}

.infocard_right .action_btns {
  bottom: 0;
  padding: 25px 0 25px;
  min-height: 32px;
  position: sticky;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(0deg, rgb(36, 36, 36) 50%, rgba(36, 36, 36, 0.78) 85%, rgba(36, 36, 36, 0) 100%);
}

.infocard_right .action_btns .action_btn {
  font-size: 12px;
  width: 32.7%;
  padding: 5px 0;
  margin: 0;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: UP-NEXT-TO-WATCH :::::::::::::::::::::::::::::::::::::::::::::::*/
.titles {
  margin-left: 20px;
  transform: translateX(236px) translateY(10px);
  height: 0;
  overflow: visible;
}

.titles h1,
.titles h3 {
  margin: 0;
  line-height: 36px;
  max-width: 625px;
}

.titles h1:last-child {
  line-height: 39px;
}

.poster_dashboard > img {
  position: relative;
  z-index: 1;
  transition: all 500ms ease;
  background-color: var(--black);
}

.poster_tile {
  height: 97%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: 0;
  position: absolute;
  background-color: var(--black);
  background-image: url("../../assets/poster_tile.png");
  background-size: cover;
  transition: all 500ms ease;
  border-radius: 5px;
}

.poster_dashboard .poster_rating {
  position: absolute;
  right: 38px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster_dashboard:first-child .poster_rating {
  right: 40px;
  top: 40px;
}

.poster_dashboard .poster_rating > img {
  width: 26px;
  height: auto;
}
.poster_dashboard:first-child .poster_rating > img {
  width: 38px;
}

.poster_dashboard .poster_rating > span {
  font-size: 16px;
}
.poster_dashboard:first-child .poster_rating > span {
  font-size: 23px;
}

.poster_dashboard .action_btns {
  width: 110px;
  position: absolute;
  right: 0px;
  bottom: 5px;
  font-size: 12px;
  transition: all 400ms ease;
}
.poster_dashboard:first-child .action_btns {
  bottom: 10px;
  width: 130px;
}

.poster_dashboard .action_btns .action_btn {
  padding: 5px 5px;
  margin: 7px 0;
}
.poster_dashboard:first-child .action_btns .action_btn {
  padding: 5px 10px;
}

.poster_dashboard:hover {
  position: relative;
  z-index: 2;
}

.poster_dashboard:hover > img {
  transform: translateX(-82%) scale(1.04);
  box-shadow: 0px 0 20px 2px rgba(0, 0, 0, 0.68);
}
.poster_dashboard:first-child:hover > img {
  transform: translateX(-58%) scale(1.04);
}

.poster_dashboard:hover > .hidden ~ img {
  cursor: default;
  transform: translateX(0) scale(1)!important;
  box-shadow: 0 0 0 0 transparent!important;
}
.poster_dashboard:hover > .hidden .action_btns {
  right: 0;
}

.poster_dashboard:hover .action_btns {
  right: -10px;
}

.poster_dashboard:nth-child(n+6) {
  display: none;
}
.poster_dashboard:first-child {
  width: 236px;
  height: 337px;
}
.poster_dashboard:last-child {
  margin-right: 0;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: SIDE-PANEL :::::::::::::::::::::::::::::::::::::::::::::::*/
.side_panel {
  display: block;
  position: absolute;
  height: 100vh;
  width: var(--side_panel_width);
  background: var(--black);
  color: var(--white);
  right: calc(-1 * var(--side_panel_width));
}

.side_panel .relaunch {
  margin-bottom: 150px;
}

.panel {
  padding: var(--side_dist)  var(--panel_padding);
  overflow: hidden auto;
  height: calc(100vh - var(--side_dist));
  scroll-behavior: smooth;
}

.panel_header,
.panel_header_box,
.panel_header_gradient {
  position: absolute;
  left: 0;
  width: calc(var(--side_panel_width) - 10px);
}

.panel_header {
  margin: 0;
  left: 0;
  padding: 4px var(--panel_padding);
  width: calc(
    var( --side_panel_width) - (2*(var(--panel_padding)))
  );
}

.panel_header_box {
  height: calc(44px + var(--side_dist) + 16px);
  background-color: var(--black);
}

.panel_header_gradient {
  margin-top: calc(44px + 12px);
  height: 16px;
  background-image: linear-gradient(
    to bottom,
    var(--black), rgba(0,0,0,0)
  );
}

.side_panel_list {
  width: calc(var(--side_panel_width) - (2*(var(--panel_padding))));
  margin-top: calc(44px + 10px + 16px);
}

.panel_box {
  border-radius: 5px;
  background-color: var(--black_d);
  margin-bottom: 15px;
  transition: all 200ms ease;
}

.panel_box_container {
  padding: 12px;
  position: relative;
}

.panel_box_container > h3 {
  margin: 0;
}

.side_panel_animate_out {
  right: calc(-1 * var(--side_panel_width));
  animation: move_out_right 0.3s !important;
}

.side_panel_animate_in {
  right: 0px !important;
  animation: move_in_right 0.3s !important;
}

.side_buttons_animate_out {
  right: var(--side_dist);
  animation: move_out_right_buttons 0.3s !important;
}

.side_buttons_animate_in {
  right: calc(var(--side_panel_width) - 22px) !important;
  animation: move_in_right_buttons 0.3s !important;
}

@keyframes move_in_right {
  0% {opacity: 0;right: calc(-1 * var(--side_panel_width))}
  66% {opacity: 1}
  100% {opacity: 1;right: 0px}
}

@keyframes move_out_right {
  0% {right: 0px;opacity: 1}
  33% {opacity: 1}
  100% {right: calc(-1 * var(--side_panel_width));opacity: 0}
}

@keyframes move_in_right_buttons {
  0% {right: var(--side_dist)}
  100% {right: calc(var(--side_panel_width) - 22px)}
}

@keyframes move_out_right_buttons {
  0% {right: calc(var(--side_panel_width) - 22px)}
  100% {right: var(--side_dist)}
}
/*::::::::::::::::::::::: SEARCH-COMPONENTS :::::::::::::::::::::::*/
.panel_header.search {
  border: none;
  border-radius: 0 5px 5px 0;
  height: 44px;
  left: 0;
  padding: 0 0 0 var(--panel_padding);
  font-family: 'manrope';
  width: calc(
    var(--side_panel_width) - var(--panel_padding)
  );
}

.panel_header::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 18px;
  width: calc(18px / 0.687526316);
  display: block;
  cursor: pointer;
  margin-left: 5px;
  background-image: url('../../assets/icons/app/close.svg');
  background-repeat: no-repeat;
  filter: invert(1);
}

.panel_box.search { 
  cursor: pointer;
}
.panel_box.search:hover {
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.3);
}

.panel_box.search .poster {
  margin: 0;
  width: 40%;
  border-radius: 5px 0 0 5px;
  height: var(--search_result_height);
  object-fit: cover;
}

.panel_box.search .poster,
.panel_box.search .panel_box_container {
  display: inline-block;
  vertical-align: middle;
}

.panel_box.search .panel_box_container {
  width: calc(58.8% - 24px);
  height: calc(var(--search_result_height) - 24px);
}

.panel_box_container > p {
  font-weight: 300;
  font-size: 13px;
  opacity: .60;
  display: -webkit-box;
  line-height: 18px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 0;
}

.panel_box.search .poster-content {
  opacity: 1;
  padding: 0;
  flex-direction: row;
  bottom: 12px;
}

.panel_box.search .poster-content-left img {
  width: 20px;
}

.poster-content {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  opacity: 0;
  width: calc(100% - 24px);
  flex-direction: column;
  align-items: center;
  transition: all 400ms ease;
}
.poster-content-left,
.poster-content-right {
  display: inline-block;
  vertical-align: middle;
}
.poster-content-left img,
.poster-content-left span {
  vertical-align: middle;
}
.poster-content-right {
  cursor: pointer;
  letter-spacing: 0.5px;
}
.poster-content-left img {
  width: 25px;
  height: auto;
  margin-right: 4px;
}
/*::::::::::::::::::::::: SETTINGS-COMPONENTS :::::::::::::::::::::::*/
.panel_box.setting > h3 {
  margin: 0 0 10px 0;
}
.setting_container {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50px;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
}
.setting_container:last-child {
  margin: 0;
}

.setting_box {
  height: 50px;
  object-fit: cover;
  border: 2px solid var(--white_d);
  border-radius: 5px;
}
.setting_box.selected {
  border: 2px solid var(--accent_color_d)
}

.setting_container.wide {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.setting_container.wide:last-child {
  margin-bottom: 0;
}
.setting_container.wide .setting_def {
  position: absolute;
  line-height: calc(50px + 4px);
  width: 100%;
  pointer-events: none;
}

#relaunch_box {
  width: calc(var(--side_panel_width) - (2*var(--side_dist)));
  padding: var(--side_dist);
  margin-left: calc(-1 * var(--side_dist) - 10px);
}

#relaunch_box > h3 {
  text-align: center;
  margin: 0 auto 10px;
}

#relaunch_box > div {
  width: fit-content;
  margin: auto;
  padding: 5px 20px;
}
/*::::::::::::::::::::::: LOGOUT-COMPONENTS :::::::::::::::::::::::*/
.logout_btn {
  height: 44px;
  padding: 0 var(--panel_padding);
  border: none;
  position: absolute;
  top: calc(var(--side_dist) + calc(2 * 44px) + calc(2 * 8px));
  border-radius: 0 44px 44px 0;
  cursor: pointer;
  left: 0;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::*/
@media screen and (max-width: 952px) {
  :root {
    --side_panel_width: 380px;
    --search_result_height: 165px;
  }

  .titles {
    transform: translateX(236px) translateY(30px);
  }
  .titles h1,
  .titles h3 {
    margin: 0;
    line-height: 27px;
    max-width: 450px;
  }
  .titles h1:last-child {
    line-height: 34px;
  }

  .poster_dashboard:nth-child(4) {
    margin-right: 0;
  }
  .poster_dashboard:nth-child(5) {
    display: none;
  }

  .side_panel .relaunch {
    margin-bottom: 130px;
  }

  #relaunch_box {
    margin-left: calc(-1 * var(--side_dist) - 20px);
  }

  #results .panel_box_container > p {
    display: none;
  }

  .infocard_left {
    max-width: 150px;
    min-width: 0;
  }
  .infocard_right .action_btns .action_btn.play::after {
    content: 'play';
  }
  .infocard_right .action_btns .action_btn.watchlist::after {
    content: 'watchlist';
  }
  .infocard_right .action_btns .action_btn.history::after {
    content: 'history';
  }
}