@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../assets/fonts/manrope_light.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../assets/fonts/manrope_medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/manrope_semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../assets/fonts/icons.woff) format('woff');
}
/*====================================INITIAL====================================*/
:root {
  --black: #303030;
  --black2: #171717;
  --black_alpha: #171717CC;
  --white: #FFFFFF;
  --white2: #CECECE;
  --white3: #696969;
  --red: #ED1C24;
  --red2: #AF101B;
  --accent: var(--red);
  --accent2: var(--red2);
  --history: #BD57E8;
  --watchlist: #3796D5;
  --font: 14px;
  --border: 5px;
  --margin: 30px;
}

body,
html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: var(--font);
  color: var(--white);
  font-family: 'Manrope', sans-serif;
}

body > * {
  user-select: none;
}

body[no-user] {
  background: url(../assets/media/background.png) no-repeat center / cover;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/*====================================ICONS====================================*/
[class*='icon-']:before{
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 0.7em;
}

.icon-heart:before{content:'\0041'}
.icon-history:before{content:'\0042'}
.icon-play:before{content:'\0043'}
.icon-reload:before{content:'\0044'}
.icon-search:before{content:'\0045'}
.icon-settings:before{content:'\0046'}
.icon-user:before{content:'\0047'}
.icon-watchlist:before{content:'\0048'}
/*====================================BRAND-STYLES====================================*/
img {
  -webkit-user-drag: none;
}

hr {
  opacity: 0.05;
  border: 1px solid var(--white);
  margin: 10px 0;
  border-radius: 28%;
}

.shadow {
  box-shadow: 0 0 34px 3px #0000004d;
}

.btn {
  padding: 7px 15px;
  border-radius: var(--border);
  text-align: center;
  cursor: pointer;
  width: 100%;
  text-transform: capitalize;
}
.btn.red {
  background-color: var(--red);
}
.btn.small {
  padding: 3px 10px;
}
/*====================================COMPONENTS====================================*/
#progress {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  background-color: var(--black);
  border-radius: var(--border);
  display: none;
  padding: 20px;
}
#progress span {
  display: block;
}
#progress span::first-letter {
  text-transform: capitalize;
}
#progress .progress {
  width: 330px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--black_alpha);
  backdrop-filter: blur(8px);
}

.alertContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.alertContainer.show {
  visibility: visible;
}
.alertContainer .alertbox {
  position: relative;
  background-color: var(--black);
  border-radius: var(--border);
  padding: 15px 20px 20px;
  width: 100%;
  max-width: 475px;
}
.alertContainer .alertbox h3,
.alertContainer .alertbox p {
  margin: 0;
}
.alertContainer .alertbox p span {
  color: var(--white);
  font-weight: 600;
}
.alertContainer .alertbox p::first-letter {
  text-transform: capitalize;
}
.alertContainer .alertbox > div {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.alertContainer .alertbox > div .btn {
  width: fit-content;
}

.alertContainer .alertbox > div .btn {
  background-color: var(--accent);
}
.alertContainer .alertbox > div .btn:first-child:not(:last-child) {
  margin-right: 15px;
  color: var(--white2);
  background-color: transparent;
}

.progress {
  height: 7px;
  border-radius: var(--border);
  background-color: var(--red2);
  position: relative;
  margin-top: 10px;
}
.progress div {
  position: absolute;
  background-color: var(--red);
  width: 0%;
  margin: 0;
  height: 100%;
  border-radius: var(--border);
}

[loading] {
  background-color: var(--white2)!important;
  overflow: hidden;
  cursor: initial!important;
}
[loading="dark"] {
  background-color: var(--white3)!important;
}
[loading]::after {
  display: block;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0.2) 20%,
  rgba(255, 255, 255, 0.5) 60%,
  rgba(255, 255, 255, 0) 100%
  );
  animation: loading 2s infinite;
  content: '';
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
/*====================================TYPOGRAPHY====================================*/
.fs32,
.fs27,
.fs23,
.fs18,
.fs16,
.fs14 {
  line-height: 1.5;
}

.fs32 {
  font-size: 2.286rem;
}
.fs27 {
  font-size: 1.929rem;
}
.fs23 {
  font-size: 1.643rem;
}
.fs18 {
  font-size: 1.286rem;
}
.fs16 {
  font-size: 1.143rem;
}
.fs14 {
  font-size: 1rem;
}

.fwLight,
.fwMedium,
.fwSemiBold {
  font-family: 'Manrope', sans-serif;
}

.fwLight {
  font-weight: 300;
}
.fwMedium {
  font-weight: 500;
}
.fwSemiBold {
  font-weight: 600;
}

.tAccent {
  color: var(--accent);
}
.tWhite2 {
  color: var(--white2);
}