/*::::::::::::::::::::::::::::::::::::::::::::::: MAIN-COMPONENTS :::::::::::::::::::::::::::::::::::::::::::::::*/
:root {
  --side_panel_width: 450px;
  --panel_padding: 40px;
  --search_result_height: 205px;
}

.wrapper.dashboard {
  height: 100vh;
  width: 100vw;
}

.dashboard {
  margin: auto;
  min-width: 716px;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: ACTION-BUTTTONS :::::::::::::::::::::::::::::::::::::::::::::::*/
.action_btn {
  vertical-align: middle;
  padding: 8px;
  position: relative;
  cursor: pointer;
  margin: 3px;
  border-radius: 5px;
}

.action_btn,
.action_btn > img {
  display: inline-block;
  width: 16px;
  height: 19px;
}

.action_btn:first-child {
  margin-left: 0;
}
.action_btn:last-child {
  margin-right: 0;
}

.action_btn::before {
  position: absolute;
  transform: translateY(-15%) translateX(calc(-100% - 7px));
  opacity: 0;
  visibility: hidden;
  padding: 3px 25px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 200;
  color: var(--white);
  border-radius: 3px 0 0 3px;
  transition: all 200ms ease;
  z-index: 1;
}

.action_btn:hover::before {
  opacity: 1;
  visibility: visible;
}

.action_btn.play {
  background-color: #C61017;
}
.action_btn.play::before {
  content: 'Play Now?';
  background-color: rgb(153, 13, 17);
}

.action_btn.list {
  background-color: #2B678F;
}
.action_btn.list:before {
  content: 'Add to watchlist?';
  background-color: rgb(25, 61, 85);
}

.action_btn.history {
  background-color: #8E44AD;
}
.action_btn.history:before {
  content: 'Add to history?';
  background-color: rgb(106, 51, 129);
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: CARDS :::::::::::::::::::::::::::::::::::::::::::::::*/
#infocard_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infocard_stack {
  width: 70%;
  height: 70%;
}

.infocard {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 8px;
  background-color: var(--black);
  transition: ease 0.5s;
}

.left_stack {
  transform: translateX(-110%);
  opacity: 0;
}

.right_stack {
  transform: translateX(110%);
  opacity: 0;
}

.cardcontent {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.cardcontent::-webkit-scrollbar {
  display: none;
}

.infocard .banner {
  max-height: 200px;
  overflow: hidden;
}

.infocard .banner img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.infosection {
  padding: 20px;
  width: calc(100% - 40px);
  z-index: 1;
}

.infocard .btns {
  display: inline-flex;
  position: absolute;
  margin: 0;
  right: -12px;
  top: -12px;
}

.infocard .btns li {
  padding: 5px;
}

.infocard .btns .btn {
  margin: 0;
}

.infocard .btn.icon {
  padding: 5px;
}

.infocard .btn.icon img {
  width: 18px;
  height: 18px;
}

#indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 4%;
  width: 100%;
}

#indicator input {
  -webkit-appearance: none;
  width: 35%;
  height: 3px; /* has to be odd! */
  border-radius: 3px;
  background: var(--black);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  pointer-events: none;
}

#indicator input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: var(--accent_color);
}









/*----------------- NEW CARDS----------------*/
.infocard_child {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow-y: auto;
  margin: auto;
}

.infocard_child::-webkit-scrollbar {
  display: none;
}

.infocard_padding {
  padding: 10px 20px 10px 250px;
}

.infocard_banner {
  height: 200px;
  width: 100%;
  position: relative;
}
.infocard_banner img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(10%);
}


.infocard_nav, 
#infocard_close {
  position: absolute;
  right: 30px;

}
.infocard_nav {
  bottom: 20px;
}

#infocard_close {
  top: 20px;
  line-height: 0;
  padding: 10px!important;
  border-radius: 3px;
}

#infocard_right {
  background-color: #ED1C24;
  border-radius: 0 3px 3px 0;
}
#infocard_left,
#infocard_close {
  border-radius: 3px 0 0 3px;
}
#infocard_left,
#infocard_right,
#infocard_left *,
#infocard_right *,
#infocard_close {
  display: inline-block;
  vertical-align: middle;
}
#infocard_left,
#infocard_right,
#infocard_close {
  padding: 10px 15px;
  cursor: pointer;
  transition: opacity 200ms ease;
}
#infocard_left:hover,
#infocard_right:hover,
#infocard_close:hover {
  opacity: 0.8;
}

#infocard_left img { 
  margin-left: 10px;
}
#infocard_right img { 
  margin-right: 10px;
}
#infocard_left img,
#infocard_right img,
#infocard_close img {
  filter: invert(100%);  
  width: 16px;
  height: 19px;
}


.infocard_titles {
  height: 55px;
}
.infocard_titles * {
  display: inline-block;
  vertical-align: middle;
}

.infocard_titles .vertical_border {
  margin: 0 20px;
}

.infocard_titles .rating {
  line-height: 24px;
  width: 40px;
  height: 55px;
  text-align: center;
  white-space: normal;
}
.infocard_titles .rating > img {
  width: 30px;
  height: auto;
}

.infocard_description {
  opacity: 0.8;
  margin: 0 0 0 2px;
}

.infocard_poster {
  position: absolute;
  transform: translateX(30px) translateY(-180px);
  width: 190px;
}
.infocard_poster > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: UP-NEXT-TO-WATCH :::::::::::::::::::::::::::::::::::::::::::::::*/
.titles {
  margin-left: 20px;
  transform: translateX(236px) translateY(10px);
  height: 0;
  overflow: visible;
}

.titles h1,
.titles h3 {
  margin: 0;
  line-height: 36px;
  max-width: 625px;
}

.titles h1:last-child {
  line-height: 39px;
}

.poster-dashboard:nth-child(n+6) {
  display: none;
}
.poster-dashboard:first-child {
  width: 236px;
  height: 337px;
}
.poster-dashboard:last-child {
  margin-right: 0;
}
.poster-dashboard::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 0 0 5px 5px;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 400ms ease;
  background-image: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0) 0, #000000e0 80%
  );
}
.poster-dashboard:hover::before {
  height: 60%;
}

.poster-content {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  opacity: 0;
  width: calc(100% - 24px);
  flex-direction: column;
  align-items: center;
  transition: all 400ms ease;
}
.poster-dashboard:first-child > .poster-content {
  flex-direction: row;
}
.poster-dashboard:hover > .poster-content {
  opacity: 1;
}

.poster-content-left,
.poster-content-right {
  display: inline-block;
  vertical-align: middle;
}
.poster-content-left img,
.poster-content-left span {
  vertical-align: middle;
}
.poster-content-right {
  cursor: pointer;
  letter-spacing: 0.5px;
}
.poster-content-left img {
  width: 25px;
  height: auto;
  margin-right: 4px;
}

.dark_overlay {
  display: block !important;
  animation: blend_in 0.15s !important;
  animation-fill-mode: forwards !important;
}

#dash_overlay {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;

  position: absolute;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(20, 20, 20);

  opacity: 0.75;
  backdrop-filter: blur(8px);
  animation: blend_out 0.15s;
  animation-fill-mode: forwards;
}

#info_overlay {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;

  position: absolute;
  overflow: hidden;
  z-index: 6;
  background-color: rgb(20, 20, 20);

  opacity: 0.75;
  backdrop-filter: blur(8px);
  animation: blend_out 0.15s;
  animation-fill-mode: forwards;
}

/*::::::::::::::::::::::::::::::::::::::::::::::: SIDE-PANEL :::::::::::::::::::::::::::::::::::::::::::::::*/
.side_panel {
  display: block;
  position: absolute;
  height: 100vh;
  width: var(--side_panel_width);
  background: var(--black);
  color: var(--white);
  right: calc(-1 * var(--side_panel_width));
}

.side_panel .relaunch {
  margin-bottom: 150px;
}

.panel {
  padding: var(--side_dist)  var(--panel_padding);
  overflow: hidden auto;
  height: calc(100vh - var(--side_dist));
  scroll-behavior: smooth;
}

.panel_header,
.panel_header_box,
.panel_header_gradient {
  position: absolute;
  right: 0;
  width: var(--side_panel_width);
}

.panel_header {
  margin: 0;
  left: 0;
  padding: 4px var(--panel_padding);
  width: calc(
    var( --side_panel_width) - (2*(var(--panel_padding)))
  );
}

.panel_header_box {
  height: calc(44px + var(--side_dist) + 16px);
  background-color: var(--black);
}

.panel_header_gradient {
  margin-top: calc(44px + 12px);
  height: 16px;
  background-image: linear-gradient(
    to bottom,
    var(--black), rgba(0,0,0,0)
  );
}

.side_panel_list {
  width: calc(var(--side_panel_width) - (2*(var(--panel_padding))));
  margin-top: calc(44px + 10px + 16px);
}

.panel_box {
  border-radius: 5px;
  background-color: var(--black_d);
  margin-bottom: 15px;
  transition: all 200ms ease;
}

.panel_box_container {
  padding: 12px;
  position: relative;
}

.panel_box_container > h3 {
  margin: 0;
}

.side_panel_animate_out {
  right: calc(-1 * var(--side_panel_width));
  animation: move_out_right 0.3s !important;
}

.side_panel_animate_in {
  right: 0px !important;
  animation: move_in_right 0.3s !important;
}

.side_buttons_animate_out {
  right: var(--side_dist);
  animation: move_out_right_buttons 0.3s !important;
}

.side_buttons_animate_in {
  right: calc(var(--side_panel_width) - 22px) !important;
  animation: move_in_right_buttons 0.3s !important;
}

@keyframes move_in_right {
  0% {opacity: 0;right: calc(-1 * var(--side_panel_width))}
  66% {opacity: 1}
  100% {opacity: 1;right: 0px}
}

@keyframes move_out_right {
  0% {right: 0px;opacity: 1}
  33% {opacity: 1}
  100% {right: calc(-1 * var(--side_panel_width));opacity: 0}
}

@keyframes move_in_right_buttons {
  0% {right: var(--side_dist)}
  100% {right: calc(var(--side_panel_width) - 22px)}
}

@keyframes move_out_right_buttons {
  0% {right: calc(var(--side_panel_width) - 22px)}
  100% {right: var(--side_dist)}
}
/*::::::::::::::::::::::: SEARCH-COMPONENTS :::::::::::::::::::::::*/
.panel_header.search {
  border: none;
  border-radius: 0 5px 5px 0;
  height: 44px;
  left: 0;
  padding: 0 20px 0 var(--panel_padding);
  width: calc(
    var(--side_panel_width) - (2*var(--panel_padding)) - 20px
  );
}

.panel_box.search { 
  cursor: pointer;
}
.panel_box.search:hover {
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.3);
}

.panel_box.search .poster {
  margin: 0;
  width: 40%;
  border-radius: 5px 0 0 5px;
  height: var(--search_result_height);
}

.panel_box.search .poster,
.panel_box.search .panel_box_container {
  display: inline-block;
  vertical-align: middle;
}

.panel_box.search .panel_box_container {
  width: calc(60% - 24px);
  height: calc(var(--search_result_height) - 24px);
}

.panel_box_container > p {
  font-weight: 300;
  font-size: 13px;
  opacity: .60;
  display: -webkit-box;
  line-height: 18px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 0;
}

.panel_box.search .poster-content {
  opacity: 1;
  padding: 0;
  flex-direction: row;
  bottom: 12px;
}

.panel_box.search .poster-content-left img {
  width: 20px;
}

#results .action_btn, 
#results .action_btn > img {
  width: 6px;
}
/*::::::::::::::::::::::: SETTINGS-COMPONENTS :::::::::::::::::::::::*/
.panel_box.setting > h3 {
  margin: 0 0 10px 0;
}
.setting_container {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50px;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
}
.setting_container:last-child {
  margin: 0;
}

.setting_box {
  height: 50px;
  object-fit: cover;
  border: 2px solid var(--white_d);
  border-radius: 5px;
}
.setting_box.selected {
  border: 2px solid var(--accent_color_d)
}

.setting_container.wide {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.setting_container.wide:last-child {
  margin-bottom: 0;
}
.setting_container.wide .setting_def {
  position: absolute;
  line-height: calc(50px + 4px);
  width: 100%;
  pointer-events: none;
}

#relaunch_box {
  width: calc(var(--side_panel_width) - (2*var(--side_dist)));
  padding: var(--side_dist);
  margin-left: calc(-1 * var(--side_dist) - 10px);
}

#relaunch_box > h3 {
  text-align: center;
  margin: 0 auto 10px;
}

#relaunch_box > div {
  width: fit-content;
  margin: auto;
  padding: 5px 20px;
}
/*::::::::::::::::::::::: LOGOUT-COMPONENTS :::::::::::::::::::::::*/
.logout_btn {
  height: 44px;
  padding: 0 var(--panel_padding);
  border: none;
  position: absolute;
  top: calc(var(--side_dist) + calc(2 * 44px) + calc(2 * 8px));
  border-radius: 0 44px 44px 0;
  cursor: pointer;
  left: 0;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::*/
@media screen and (max-width: 952px) {
  :root {
    --side_panel_width: 380px;
    --search_result_height: 165px;
  }

  .titles {
    transform: translateX(236px) translateY(30px);
  }
  .titles h1,
  .titles h3 {
    margin: 0;
    line-height: 27px;
    max-width: 450px;
  }
  .titles h1:last-child {
    line-height: 34px;
  }

  .poster-dashboard:nth-child(4) {
    margin-right: 0;
  }
  .poster-dashboard:nth-child(5) {
    display: none;
  }

  .side_panel .relaunch {
    margin-bottom: 130px;
  }

  #relaunch_box {
    margin-left: calc(-1 * var(--side_dist) - 20px);
  }

  #results .panel_box_container > p {
    display: none;
  }
}
