:root {
  --side_panel_width: 520px;
  --search_result_height: 200px;
}

.wrapper.dashboard {
  min-height: calc(100vh - 168px)
}

.dashboard {
  margin: auto;
}

.titles {
  margin: 10px 20px;
  transform: translateX(236px) translateY(131px);
  max-width: 625px;
  width: min-content;
  overflow: visible;
}

.titles h1,
.titles h3 {
  margin: 0;
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dark_overlay {
  display: block !important;
  animation: blend_in 0.15s !important;
  animation-fill-mode: forwards !important;
}

#dash_overlay {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;

  position: absolute;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(20, 20, 20);

  opacity: 0.75;
  backdrop-filter: blur(8px);
  animation: blend_out 0.15s;
  animation-fill-mode: forwards;
}

#side_panel {
  display: block;
  position: absolute;
  height: 100vh;
  width: var(--side_panel_width);
  background: var(--black);
  color: var(--white);
  z-index: 2;
  top: 0;
  right: calc(-1 * var(--side_panel_width));
}

#field_box {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: var(--side_panel_width);
  height: calc(44px + 16px);
  background-color: var(--black);
}

#field_gradient {
  position: absolute;
  right: 0;
  top: calc(44px + 16px);
  z-index: 3;
  width: var(--side_panel_width);
  height: 16px;
  background-image:
    linear-gradient(
      to bottom, 
      var(--black), rgba(0,0,0,0)
    );
}

.side_panel_animate_out {
  right: calc(-1 * var(--side_panel_width));
  animation: move_out_right 0.3s !important;
}

.side_panel_animate_in {
  right: 0px !important;
  animation: move_in_right 0.3s !important;
}

.side_buttons_animate_out {
  right: var(--side_dist);
  animation: move_out_right_buttons 0.3s !important;
}

.side_buttons_animate_in {
  right: calc(var(--side_panel_width) - 22px) !important;
  animation: move_in_right_buttons 0.3s !important;
}

.panel {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 16px 20px 16px 35px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 32px);
}

.search_result_box {
  height: min-content;
  background-color: var(--black_d);
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  cursor: pointer;
  animation: right_in 0.2s;
}

.search_result_box:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.01, 1.01);
}

.search_result_box img {
  grid-column: 1;
  height: var(--search_result_height);
  left: 0;
  top: 0;
}

.search_result_box .search_result_text {
  grid-column: 2;
  padding: 12px;
  display: grid;
  grid-template-areas: 'a a' 'b b' 'c d';
  grid-template-rows: auto 1fr auto;
}

.search_result_box .search_result_text h3 {
  grid-area: a;
  margin-top: 0;
  margin-bottom: 10px;
}

.search_result_box .search_result_text p {
  grid-area: b;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10px;
  height: max-content;
}

.search_result_box .search_result_rating {
  grid-area: c;
}

.search_result_box .search_result_rating span {
  margin-left: 5px;
}

.search_result_box .search_result_type {
  text-align: right;
  grid-area: d;
}

#search_field {
  /* just temporary, button height is not static */
  height: 44px;
  width: calc(var(--side_panel_width) - 80px);
  padding: 0px;
  padding-left: 40px;
  padding-right: 20px;
  border: none;
  font-size: 22px;
  color: var(--white);
  transition: 0.2s ease-in;
  background-color: var(--black_d);
  position: absolute;
  top: 16px;
  left: 0;
  border-radius: 0 44px 44px 0;
  z-index: 4;
}

#search_results {
  width: 100%;
  margin-top: calc(44px + 16px);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

#logout_button {
  height: 44px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-size: 22px;
  color: var(--white);
  transition: 0.2s ease-in;
  background-color: var(--black_d);
  position: absolute;
  top: calc(16px + calc(2 * 44px) + calc(2 * 8px));
  left: 0;
  border-radius: 0 44px 44px 0;
  cursor: pointer;
}

#logout_text {
  grid-row: 2;
  height: min-content;
  text-align: center;
}

@keyframes blend_in {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 0.75;
    backdrop-filter: blur(8px);
  }
}

@keyframes blend_out {
  0% {
    opacity: 0.75;
    backdrop-filter: blur(8px);
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

@keyframes move_in_right {
  0% {
    opacity: 0;
    right: calc(-1 * var(--side_panel_width));
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

@keyframes move_out_right {
  0% {
    right: 0px;
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  100% {
    right: calc(-1 * var(--side_panel_width));
    opacity: 0;
  }
}

@keyframes move_in_right_buttons {
  0% {
    right: var(--side_dist);
  }
  100% {
    right: 300px;
  }
}

@keyframes move_out_right_buttons {
  0% {
    right: 300px;
  }
  100% {
    right: var(--side_dist);
  }
}

@keyframes right_in {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 952px) {
  :root {
    --side_panel_width: 320px;
    --search_result_height: 150px;
  }
  .titles h1,
  .titles h3 {
    margin: 0;
    line-height: 27px;
  }

  .search_result_box:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.02, 1.02);
  }

  .search_result_box .search_result_text p {
    display: none;
  }
}
