:root {
  --black: #242424;
  --black_d: #191919;
  --white: #FFF;
  --white_d: #CECECE;
  --gray: #696969;
  --side_dist: 30px;
  
  /* the following variables will be set by the renderer when the window loads, these settings prevent short flashing and double file loading */
  --accent_color: transparent;
  --accent_color_d: transparent;
  --background_image: none;
  --background_opacity : 1;
}

* {
  user-select: none;
}

*:focus {
  outline: none;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: FONTS :::::::::::::::::::::::::::::::::::::::::::::::*/
@font-face {
  font-family: 'manrope';
  font-weight: 200;
  src: url('./fonts/manrope-thin.woff2');
}
@font-face {
  font-family: 'manrope';
  font-weight: 300;
  src: url('./fonts/manrope-light.woff2');
}
@font-face {
  font-family: 'manrope';
  font-weight: 500;
  src: url('./fonts/manrope-medium.woff2');
}
@font-face {
  font-family: 'manrope';
  font-weight: 600;
  src: url('./fonts/manrope-semibold.woff2');
}
@font-face {
  font-family: 'manrope';
  font-weight: 700;
  src: url('./fonts/manrope-bold.woff2');
}
/*::::::::::::::::::::::::::::::::::::::::::::::: TYPOGRAPHY :::::::::::::::::::::::::::::::::::::::::::::::*/
.h1 {
  font: 600 32px manrope;
}
.h2 {
  font: 600 27px manrope;
}
.h3 {
  font: 500 23px manrope;
}
.p {
  font: 200 18px manrope;
}

.fw200 {
  font-weight: 200;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}

.fs23 {
  font-size: 23px;
}
.fs18 {
  font-size: 18px;
}
.fs16 {
  font-size: 16px;
}
.fs14 {
  font-size: 14.5px;
  line-height: 20.5px;
}
.fs12 {
  font-size: 12px;
}

.tC {
  text-transform: capitalize;
}
.tu {
  text-transform: uppercase;
}
.t_ {
  text-decoration: underline;
}
.tOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tOverflow.normal {
  white-space: normal;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: POSITIONING :::::::::::::::::::::::::::::::::::::::::::::::*/
.top,
.top_p,
.bottom,
.bottom_p,
.right,
.left {
  position: fixed;
}

.center {
  position: relative;
  height: 100%;
}

.center * {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* set height property to the individual element */
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.right {
  right: var(--side_dist);
}
.left {
  left: var(--side_dist);
}

.top_p {
  top: var(--side_dist);
}
.bottom_p {
  bottom: var(--side_dist);
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z6 {
  z-index: 6;
}
.z7 {
  z-index: 7;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: COLORS :::::::::::::::::::::::::::::::::::::::::::::::*/
.black_t {
  color: var(--black);
}
.black_d_t {
  color: var(--black_d);
}
.white_t {
  color: var(--white);
}
.white_d_t {
  color: var(--white_d);
}
.red_t {
  color: var(--accent_color);
}
.red_d_t {
  color: var(--accent_color_d);
}

.black_b {
  background-color: var(--black);
}
.black_d_b {
  background-color: var(--black_d);
}
.white_b {
  background-color: var(--white);
}
.white_d_b {
  background-color: var(--white_d);
}
.red_b {
  background-color: var(--accent_color);
}
.red_d_b {
  background-color: var(--accent_color_d);
}
/*::::::::::::::::::::::::::::::::::::::::::::::: ATTRIBUTES :::::::::::::::::::::::::::::::::::::::::::::::*/
.shadow_h {
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.3);
}
.shadow_b {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5)
}

.horizontal_border {
  background-color: var(--white);
  opacity: 0.06;
  height: 1px;
  width: 100%;
}

.hidden {
  display: none !important;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: COMPONENTS :::::::::::::::::::::::::::::::::::::::::::::::*/
body {
  margin: 0;
  font-family: manrope!important;
  overflow: hidden;
  background: var(--black_d);
  user-select: none;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--background_image) repeat;
  opacity: var(--background_opacity);
}

#dragger {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 20px;
  -webkit-app-region: drag;
}

.wrapper {
  position: relative;
}
.wrapper.flex {
  display: flex;
  min-height: calc(100vh - 60px);
  min-width: calc(100vw - 60px);
  margin: auto;
}

.elmHover {
  transition: all 200ms ease;
}
.elmHover:hover {
  -webkit-filter: brightness(.9)
}
/*::::::::::::::::::::::: LOADING :::::::::::::::::::::::*/

.loading-animation {
  background: linear-gradient(to right, var(--accent_color), var(--accent_color_d), var(--accent_color));
  background-size: 600% 600%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation { 
  0%{background-position:100% 0%}
  75%{background-position:0% 50%}
  100%{backround-position:100% 0%}
}

.gray-animation {
  animation: gray-animation 2s ease infinite;
}

@keyframes gray-animation { 
  0%{filter:grayscale(0%)}
  75%{filter:grayscale(50%)}
  100%{filter:grayscale(0%)}
}
/*::::::::::::::::::::::: SCROLLERS :::::::::::::::::::::::*/
::-webkit-scrollbar {
  background-color: transparent;
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--black_d);
  background-clip: padding-box;
  border: solid transparent 3px;
  border-radius: 30px;
}

.slider {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--accent_color_d);
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}
/*::::::::::::::::::::::: BUTTONS :::::::::::::::::::::::*/
.btns {
  list-style: none;
  padding: 0;
  margin: 0;
}
.btns .btn {
  margin-bottom: 8px;
}

.btn {
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 200ms ease;
  display: block;
}
.btn.selected {
  background-color: var(--accent_color);
}
.btn.rotating {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.btn.bottom {
  padding: 10px 19px;
  border-radius: 20px 20px 0 0;
}

.btn.icon {
  border-radius: 50%;
  width: min-content;
  padding: 12px;
  display: flex;
}
.btn.icon_small {
  border-radius: 50%;
  padding: 4px;
  display: flex;
  height: min-content;
  width: min-content;
}

.btn.icon img {
  filter: invert(1);
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.btn.icon_small img {
  filter: invert(1);
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.btn-switch {
  font-size: 10px;
  line-height: 14.5px;
  position: relative;
  display: inline-block;
}
.btn-switch__radio {
  display: none;
}
.btn-switch__label {
  display: inline-block;
  padding: 0.6em 0.75em 1em 0.5em;
  cursor: pointer;
  transition: color 200ms ease;
}
.btn-switch__txt {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 18px;
  opacity: 1;
  pointer-events: none;
  transition: opacity 200ms ease;
}
.btn-switch__label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--accent_color);
  border-radius: 1.5em;
  box-shadow: inset 0 0.0715em 0.3572em rgba(43, 43, 43, 0.05);
  transition: background 200ms ease;
}
.btn-switch__radio_no:checked ~ .btn-switch__label:before {
  background: var(--gray);
}
.btn-switch__label_no:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  width: 2em;
  background: var(--white);
  border-radius: 1em;
  pointer-events: none;
  box-shadow: 0 0.1429em 0.2143em rgba(43, 43, 43, 0.2),
    0 0.3572em 0.3572em rgba(43, 43, 43, 0.1);
  transition: left 200ms ease, background 200ms ease;
}
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
  left: calc(100% - 2.5em);
  background: var(--white);
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
  z-index: 1;
}
.btn-switch__radio_no:checked ~ .btn-switch__label_yes {
  color: var(--white);
}

.btn-close {
  position: absolute;
  border-radius: 0 0 30px 30px;
  width: 30px;
  line-height: 40px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn-close img {
  filter: invert(1);  
  width: auto;
  height: 19px;
}
/*::::::::::::::::::::::: OVERLAY :::::::::::::::::::::::*/
.overlay {
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  overflow: hidden;
  background-color: var(--black_d);
  opacity: 0.75;
  animation: blend_out 150ms cubic-bezier(.165,.84,.44,1) 1 forwards;
}
.overlay.hide {
  display: block!important;
  animation: blend_in 150ms cubic-bezier(.165,.84,.44,1) 1 forwards!important;
}
/*::::::::::::::::::::::: POSTERS :::::::::::::::::::::::*/
.posters {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poster {
  position: relative;
  width: 140px;
  height: 205px;
  margin-right: 20px;
  display: inline-block;
  transition: all 400ms ease;
}

.poster > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation: fade_in 0.1s;
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.poster, 
.poster > img {
  border-radius: 5px;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: ACTION-BUTTTONS :::::::::::::::::::::::::::::::::::::::::::::::*/
.action_btns {
  width: 100%;
}

.action_btn {
  text-align: center;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 15px 0;
  color: var(--white);
  cursor: pointer;
  transition: all 200ms ease;
}

.action_btn.play {
  background-color: #ED1C24;
}
.action_btn.play::after {
  content: 'play now';
}

.action_btn.watchlist {
  background-color: #3796D5;
}
.action_btn.watchlist::after {
  content: 'add to list';
  background-color: #3796D5;
}

.action_btn.history {
  background-color: #BD57E8;
}
.action_btn.history::after {
  content: 'add to history';
}
/*:::::::::::::::::::::::::::::::::::::::::::::::: ALERTBOX :::::::::::::::::::::::::::::::::::::::::::::::*/
#alertBox {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertBox {
  min-width: 400px;
  padding: 20px 80px 57px 30px;
  max-width: 500px;
  border-radius: 3px;
  position: relative;
}

.alertBox > .btn-close {
  top: 0;
  right: 20px;
}
.alertBox > h4,
.alertBox > p {
  margin: 0;
}

.alertBox > p span {
  font-weight: 600;
}

.alert_btns {
  position: absolute;
  right: 20px;
}

.alert_btn {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.alert_btn:last-child {
  margin-right: 0;
}
/*::::::::::::::::::::::::::::::::::::::::::::::: ANIMATIONS :::::::::::::::::::::::::::::::::::::::::::::::*/
.animation_slide_up {
  animation: slide_up 500ms cubic-bezier(.165,.84,.44,1) 1 forwards;
}
@keyframes slide_up {
  0% {opacity:0;transform:translateY(50px)}
  50% {opacity:0;transform:translateY(25px)}
  100% {opacity:1;transform:translateY(0)}
}

.animation_slide_right {
  animation: slide_right 500ms cubic-bezier(.165,.84,.44,1) 1 forwards;
}
@keyframes slide_right {
  0% {opacity:0;transform:translateX(30px)}
  50% {opacity:0;transform:translateX(15px)}
  100% {opacity:1;transform:translateX(0)}
}

.animation_blend_in {
  animation: blend_in 150ms cubic-bezier(.165,.84,.44,1) 1 forwards;
}
@keyframes blend_in {
  0% {opacity:0;backdrop-filter:blur(0px)}
  50% {opacity:0;backdrop-filter:blur(4px)}
  100% {opacity:0.75;backdrop-filter:blur(8px)}
}

.animation_blend_out {
  animation: blend_out 150ms cubic-bezier(.165,.84,.44,1) 1 forwards;
}
@keyframes blend_out {
  0% {opacity: 0.75;backdrop-filter: blur(8px)}
  50% {opacity:0;backdrop-filter:blur(4px)}
  100% {opacity:0;backdrop-filter: blur(0px)}
}

.animation_fade_out {
  animation: fade_out 1.2s cubic-bezier(.165,.84,.44,1) 1 forwards;
}
@keyframes fade_out {
  0% {opacity:1;transform:translateY(0)}
  50% {opacity:0;transform:translateY(50px)}
  100% {opacity:0;transform:translateY(100px)}
}
/*::::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::*/
@media screen and (max-width: 952px) {
  :root {
    --side_dist: 20px;
  }
  
  .h1 {
    font-size: 27px;
  }
  .h2 {
    font-size: 23px;
  }
  .h3 {
    font-size: 18px;
  }
  .p {
    font-size: 16px;
  }
  
  .wrapper.flex {
    min-height: calc(100vh - 40px);
    min-width: calc(100vw - 40px);
  }
}
